*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Segoe UI",sans-serif;

    background:#090b14;

    color:white;

}

.hero{

    min-height:100vh;

    background:
    linear-gradient(
    135deg,
    #3b0764,
    #1e1b4b,
    #020617);

}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 10%;

}

.logo{

    font-size:28px;

    font-weight:bold;

}

.navbar ul{

    display:flex;

    gap:35px;

    list-style:none;

}

.navbar a{

    color:white;

    text-decoration:none;

    transition:.25s;

}

.navbar a:hover{

    color:#c084fc;

}

.hero-content{

    text-align:center;

    margin-top:150px;

}

.hero-content h1{

    font-size:70px;

}

.hero-content p{

    margin-top:20px;

    font-size:22px;

    color:#d4d4d8;

}

button{

    margin-top:40px;

    padding:18px 50px;

    border:none;

    border-radius:14px;

    background:#8b5cf6;

    color:white;

    font-size:20px;

    cursor:pointer;

    transition:.25s;

}

button:hover{

    transform:scale(1.05);

    background:#7c3aed;

}
